a {
  font-size: 1em;
  font-weight: bold;
}

.jumbotron {
  text-align: center;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 30px;
}

.hover:hover {
  background-color: transparent;
}

.hover {
  background-color: #b2b2b2;
}

body {
  background: url(../background-table.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

form {
  text-align: center;
}

ul {
  list-style-type: none;
}

li {
  font-weight: bold;
  text-align: center;
  margin-left: -28px;
  margin-bottom: 5px;
}

.btn-primary {
  text-align: center;
}

.btn-success {
  text-align: center;
}

.center {
  position: fixed;
  bottom: 15vh;
  left: 0;
  width: 100%;
  text-align: center;
}

.middle {
  text-align: center;
}

.review {
  padding-top: 13em;
}
