<div class="row">
  <h1 class="jumbotron col-xs-12">Restaurants</h1>
</div>
<br>
<div>
  <div class="row">
    <h2><a class="jumbotron hover col-xs-12" href="/addCuisine">Add A New Cuisine</a></h2>
  </div>
  <div class="row">
    <h2><a class="jumbotron hover col-xs-12" href="/listCuisines">View Cuisines</a></h2>
  </div>
  <div class="row">
    <h2><a class="jumbotron hover col-xs-12" href="/listRestaurants">View Restaurants</a></h2>
  </div>
</div>
