<h1 class="jumbotron">Restaurants</h1>
<br>
<div class="indexLinks container">
  <div>
    <a class="jumbotron hover" href="/addCuisine">Add A New Cuisine</a>
  </div>
  <div>
    <a class="jumbotron hover" href="/listCuisines">View Cuisines</a>
  </div>
  <div>
    <a class="jumbotron hover" href="/listRestaurants">View Restaurants</a>
  </div>
</div>
