<h1 class="jumbotron">Here is a list of Cuisines:</h1>

<!-- for each loop -->
<ul>
  #foreach ($cuisine in $cuisines)
    <li><a href="/addRestaurant/$cuisine.getId()">$cuisine.getType()</a></li>
  #end

  #if ($addedNewCuisine)

  <h3>New Cuisine Added Successfully</h3>

  #end

<a href="/listRestaurants">View Restaurants</a>
<a href="/addCuisine">Add another Cuisine</a><br>
<a href="/">Go to home page</a>
