<h1 class="jumbotron">All Restaurants</h1>

<ul>
  #foreach ($restaurant in $restaurants)
    <li><a class="btn btn-primary" href="/restaurant/$restaurant.getId()">$restaurant.getName()</a></li>
  #end
</ul>

<div class="row">
  <hr class="style18 col-xs-6 col-xs-offset-3">
</div>

<div class="center">
  <a class="btn btn-primary" href="/addCuisine">Add another Cuisine type</a>
  <a class="btn btn-primary" href="/listCuisines">View List of Cuisines</a>
</div>
