<h1 class="jumbotron">All Restaurants</h1>

<ul>
  #foreach ($restaurant in $restaurants)
    <li><a href="/restaurant/$restaurant.getId()">$restaurant.getName()</a></li>
  #end
</ul>

<a href="/addCuisine">Add another Cuisine type</a><br>
<a href="/listCuisines">View List of Cuisines</a>
